body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 400px;
    border: 2px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.upperBox{
    padding: 5px;
}
h1{
    text-align: center;
}
figure{
    text-align: center;
}
img{
    width: 100%;
    
    border-radius: 100%;
}
label{
    font-weight: bolder;
}
input[type=text], input[type=password]{
    width: 100%;
    box-sizing: border-box;
   
    padding: 10px;
    margin: 5px 0px;
    

}
.login{
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
footer>p{
    margin: 0px;
    
}
footer{
    display: flex;
background-color: #ccc;
justify-content: space-evenly ;
align-items: center;

}
.Cancel{
    background-color:#f44336 ;
    border: none;
    padding: 10px 20px;
    border-radius:2px ;
    margin: 20px 20px 20px 20px;
    color: white;
    
}
